h3
  | You have completed the path of the Web Designer! Thank you!

p In the following weeks we will go trough all candadates and will contact only the best ones.

p It was pleasure to have you on our website and we'll chat soon!

= link_to 'Bye', root_path, class: 'btn btn-primary'
